/* текст ссылки, при уменьшении массштаба страницы, сливается с цветом круга. Имеет ли смысл с этим что-то делать? */
.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    position: absolute;
    height: 50%;
    margin: 0;
    padding: 0;
    right: 48px;
    /* z-index: 1; */
}

.feynman__link:hover {
    transition:ease-in;
    opacity: 0.6;
    transition-duration: 0.3s;
 }