.footer__column_content_copyright {
    position: relative;
    flex-basis: 711px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-start; */
    /* align-items: start; */
}