.footer__author {
    position: relative;
    position: absolute;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    left: 0;
    bottom: 0;
    padding: 18px 0px;
    line-height: 25px;
    font-weight: normal;
    font-size: 18px;
    color: white;
    margin-bottom: 0;
}