.footer__column_content_social {
    /* display: block; */
    /* min-height: calc(350px - 100px); */
    /* justify-content: space-between; */
    /* position: relative; */
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    padding: 0;
}