.video__iframe {
    position: relative;
    /* display: flex;
    justify-content: space-between; */
    margin-right: 20px;
    padding: 0;
    min-width: 515px; 
    min-height: 316px;
    border-width: 0px;
}

.video__iframe:last-child {
    margin-right: 0px;   
}